<div class="incidents-card" cdkDrag>
  <div class="incidents-card__head">
    <h3 class="incidents-card__head__title">Количество инцидентов</h3>
    <button class="drag-button" cdkDragHandle>
      <img src="assets/svg/draggable.svg" alt="" />
    </button>
  </div>
  <div class="incidents-card__service">
    <div class="three-state-switch">
      <input
        type="radio"
        id="radio-1"
        name="incidents_sw"
        value="day"
        [ngModel]="mode"
        (click)="changeDay($event)"
      />
      <label for="radio-1">День</label>
      <input
        type="radio"
        id="radio-2"
        name="incidents_sw"
        value="week"
        [ngModel]="mode"
        (click)="changeWeek($event)"
      />
      <label for="radio-2">Неделя</label>
      <input
        type="radio"
        id="radio-3"
        name="incidents_sw"
        value="month"
        [ngModel]="mode"
        (click)="changeMonth($event)"
      />
      <label for="radio-3">Месяц</label>
    </div>
    <button class="more-button">Подробнее</button>
  </div>
  <div class="incidents-card__chart">
    <div class="chart">
      <canvas id="Incidents">{{ chart }}</canvas>
      <p class="chart__sum">
        Всего <br />
        <span>{{ incidents.length }}</span>
      </p>
    </div>
    <div class="legend">
      <div class="legend__item">
        <div class="circle success"></div>
        <p>Закрытые</p>
      </div>
      <div class="legend__item">
        <div class="circle warning"></div>
        <p>Активные</p>
      </div>
      <div class="legend__item">
        <div class="circle black"></div>
        <p>Новые</p>
      </div>
    </div>
  </div>
</div>
