<div class="content">
  <div *ngIf="user; else noUser" class="main-info">
    <div class="main-info__employee">
      <div class="main-info__employee__who">
        <img
          *ngIf="user.imageUrl; else noAvatar"
          class="main-info__employee__who__avatar"
          [src]="user.imageUrl"
        />
        <ng-template #noAvatar>
          <div
            class="main-info__employee__who__avatar"
            [ngStyle]="{
              backgroundColor: colorAvatar
            }"
          >
            {{ user.name.slice(0, 1) }}{{ user.patronymic.slice(0, 1) }}
          </div>
        </ng-template>
        <div class="main-info__employee__who__info">
          <h2 class="main-info__employee__who__info__name">
            {{ user.name }} {{ user.patronymic }} {{ user.surname }}
          </h2>
          <div class="main-info__employee__who__info__job">
            {{ user.work }} {{ user.workspace.name }}
          </div>
        </div>
      </div>
      <button
        *ngIf="!shift_status; else shiftOut"
        class="main-info__employee__button shift-in"
        (click)="startShift()"
      >
        Заступить смену
      </button>
      <ng-template #shiftOut>
        <button
          class="main-info__employee__button shift-out"
          (click)="openShiftStatus()"
        >
          Закончить смену
        </button>
      </ng-template>
    </div>
    <div class="main-info__card-controls">
      <div class="main-info__card-controls__switch-button">
        <input
          class="main-info__card-controls__switch-button__checkbox"
          type="checkbox"
          [(ngModel)]="cards_isChecked"
          (click)="changeCards($event)"
        />
        <label class="main-info__card-controls__switch-button__label">
          <span class="main-info__card-controls__switch-button__label__span"
            >Сегодня</span
          ></label
        >
      </div>
      <button class="main-info__card-controls__calendar-button">
        <img src="assets/svg/calendar1.svg" alt="" />
      </button>
    </div>
    <div class="main-info__cards">
      <app-card *ngFor="let card of cards" [card]="card"></app-card>
      <app-add-user-card [userId]="user.id"></app-add-user-card>
    </div>
  </div>
  <ng-template #noUser>
    <div class="lds-dual-ring"></div>
  </ng-template>
  <div *ngIf="workspace; else noWorkspace" class="analytics">
    <div class="analytics__workspace">
      <div class="analytics__header">
        <div class="title-block">
          <h2 class="analytics__title">Аналитика по рабочему пространству</h2>
          <h3 class="analytics__subtitle">Установка {{ workspace.name }}</h3>
        </div>
        <div class="settings-block">
          <button
            *ngIf="active_cards.length != 0"
            (click)="openSettings()"
            class="settings-block__setting-button"
          >
            <img src="assets/svg/gear.svg" alt="" />
            <p>Настроить</p>
          </button>
          <button class="settings-block__more-button">
            <img src="assets/svg/kebab.svg" alt="" />
          </button>

          <button
            class="settings-block__openInNew-button"
            (click)="openInNewWindow()"
          >
            <img src="assets/svg/openInNew.svg" alt="" />
          </button>
        </div>
      </div>
      <div class="analytics__workspace__cards">
        <div *ngFor="let card of active_cards" [ngSwitch]="card">
          <app-incidents-card
            [workspaceId]="workspace.id"
            *ngSwitchCase="'incidents'"
          ></app-incidents-card>
          <app-kpi-card
            (warning)="receiveWarning($event)"
            [workspaceId]="workspace.id"
            *ngSwitchCase="'kps'"
          ></app-kpi-card>
          <app-events-card
            [workspaceId]="workspace.id"
            *ngSwitchCase="'events'"
          ></app-events-card>
          <app-lab-test-card
            (warning)="receiveWarning($event)"
            [workspaceId]="workspace.id"
            *ngSwitchCase="'lab_tests'"
          ></app-lab-test-card>
        </div>
        <app-add-card
          *ngIf="active_cards.length != 4"
          [existCards]="active_cards"
          (dialogEvent)="receiveCard($event)"
        ></app-add-card>
      </div>
    </div>
    <div class="analytics__shift-log">
      <div class="analytics__header">
        <div class="title-block">
          <h2 class="analytics__title">Журнал смен</h2>
          <h3 class="analytics__subtitle">Блок {{ workspace.name }}</h3>
        </div>
        <div class="settings-block">
          <button
            (click)="exportToExcel()"
            class="settings-block__setting-button"
          >
            <img src="assets/svg/upload.svg" alt="" />
            <p>Выгрузить</p>
          </button>
        </div>
      </div>
      <table class="shift-log-table" id="shift-log">
        <tr id="column-names">
          <th>Дата выхода на смену</th>
          <th>Сотрудник</th>
          <th>Должность</th>
          <th>Статус</th>
          <th>Дата завершения</th>
        </tr>
        <tr *ngFor="let row of workspace?.shift_logs">
          <td>{{ row.shift_date }}</td>
          <td>{{ row.employee }}</td>
          <td>{{ row.post }}</td>
          <td>{{ row.status }}</td>
          <td>{{ row.end_date }}</td>
        </tr>
      </table>
    </div>
  </div>
  <ng-template #noWorkspace>
    <div class="lds-dual-ring"></div>
  </ng-template>
</div>

<window *ngIf="show_window">
  <div class="content">
    <div *ngIf="workspace; else noWorkspace" class="analytics">
      <div class="analytics__workspace">
        <div class="analytics__header">
          <div class="title-block">
            <h2 class="analytics__title">Аналитика по рабочему пространству</h2>
            <h3 class="analytics__subtitle">Установка {{ workspace.name }}</h3>
          </div>
        </div>
        <div class="analytics__workspace__cards">
          <div *ngFor="let card of active_cards" [ngSwitch]="card">
            <app-incidents-card
              [workspaceId]="workspace.id"
              *ngSwitchCase="'incidents'"
            ></app-incidents-card>
            <app-kpi-card
              (warning)="receiveWarning($event)"
              [workspaceId]="workspace.id"
              *ngSwitchCase="'kps'"
            ></app-kpi-card>
            <app-events-card
              [workspaceId]="workspace.id"
              *ngSwitchCase="'events'"
            ></app-events-card>
            <app-lab-test-card
              (warning)="receiveWarning($event)"
              [workspaceId]="workspace.id"
              *ngSwitchCase="'lab_tests'"
            ></app-lab-test-card>
          </div>
        </div>
      </div>
      <div class="analytics__shift-log">
        <div class="analytics__header">
          <div class="title-block">
            <h2 class="analytics__title">Журнал смен</h2>
            <h3 class="analytics__subtitle">Блок {{ workspace.name }}</h3>
          </div>
          <div class="settings-block">
            <button
              (click)="exportToExcel()"
              class="settings-block__setting-button"
            >
              <img src="assets/svg/upload.svg" alt="" />
              <p>Выгрузить</p>
            </button>
          </div>
        </div>
        <table class="shift-log-table" id="shift-log">
          <tr id="column-names">
            <th>Дата выхода на смену</th>
            <th>Сотрудник</th>
            <th>Должность</th>
            <th>Статус</th>
            <th>Дата завершения</th>
          </tr>
          <tr *ngFor="let row of workspace?.shift_logs">
            <td>{{ row.shift_date }}</td>
            <td>{{ row.employee }}</td>
            <td>{{ row.post }}</td>
            <td>{{ row.status }}</td>
            <td>{{ row.end_date }}</td>
          </tr>
        </table>
      </div>
    </div>
    <ng-template #noWorkspace>
      <div class="lds-dual-ring"></div>
    </ng-template>
  </div>
</window>
