@import "../../../vars.scss";

.header {
  background-color: $bg-main;
  padding: {
    left: 24px;
    right: 24px;
  }
  font-weight: 700;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $bg-border;
  height: 60px;
}

.header__title {
  color: $typo-primary;
  transition: 100ms;
}

.header__title:hover {
  color: $typo-secondary;
}

.header__buttons {
  display: flex;
  column-gap: 28px;
  align-items: center;
}

.header__buttons__icon {
  height: 14px;
  width: 14px;
}

.icon-with-badge {
  position: relative;
}

.icon-badge {
  background-color: red;
  font-size: 12px;
  color: white;
  text-align: center;
  width: 16px;
  height: 16px;
  border-radius: 35%;
  position: absolute; /* changed */
  top: -5px; /* changed */
  left: 18px; /* changed */
}
