<div class="content">
  <div class="main-info">
    <div class="main-info__employee">
      <div class="main-info__employee__who">
        <img
          class="main-info__employee__who__avatar"
          src="assets/example_avatar.png"
        />
        <div class="main-info__employee__who__info">
          <h2 class="main-info__employee__who__info__name">
            Иван Егорович Сергеев
          </h2>
          <div class="main-info__employee__who__info__job">
            Технолог КВР-342
          </div>
        </div>
      </div>
      <button class="main-info__employee__shift-in-button">
        Заступить на смену
      </button>
    </div>
    <div class="main-info__card-controls">
      <div class="main-info__card-controls__switch-button">
        <input
          class="main-info__card-controls__switch-button__checkbox"
          type="checkbox"
        />
        <label class="main-info__card-controls__switch-button__label">
          <span class="main-info__card-controls__switch-button__label__span"
            >Сегодня</span
          ></label
        >
      </div>
      <button class="main-info__card-controls__calendar-button">
        <img src="assets/svg/calendar1.svg" alt="" />
      </button>
    </div>
    <div class="main-info__cards">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
  </div>
  <div class="analytics">
    <div class="analytics__workspace">
      <div class="analytics__header">
        <div class="title-block">
          <h2 class="analytics__title">Аналитика по рабочему пространству</h2>
          <h3 class="analytics__subtitle">Установка КВР-342</h3>
        </div>
        <div class="settings-block">
          <button class="settings-block__setting-button">
            <img src="assets/svg/gear.svg" alt="" />
            <p>Настроить</p>
          </button>
          <button class="settings-block__more-button">
            <img src="assets/svg/kebab.svg" alt="" />
          </button>
          <button class="settings-block__openInNew-button">
            <img src="assets/svg/openInNew.svg" alt="" />
          </button>
        </div>
      </div>
      <div class="analytics__workspace__cards">
        <app-analytic-card></app-analytic-card>
      </div>
    </div>
    <div class="analytics__shift-log">
      <div class="analytics__header">
        <div class="title-block">
          <h2 class="analytics__title">Журнал смен</h2>
          <h3 class="analytics__subtitle">Блок КВР-342</h3>
        </div>
        <div class="settings-block">
          <button class="settings-block__setting-button">
            <img src="assets/svg/upload.svg" alt="" />
            <p>Выгрузить</p>
          </button>
        </div>
      </div>
      <table class="shift-log-table">
        <tr id="column-names">
          <th>Дата выхода на смену</th>
          <th>Сотрудник</th>
          <th>Должность</th>
          <th>Статус</th>
          <th>Дата завершения</th>
        </tr>
        <tr>
          <td>16.03.2022</td>
          <td>Елисеева К. В.</td>
          <td>Технолог</td>
          <td>Без происшествий</td>
          <td>28.03.2022</td>
        </tr>
        <tr>
          <td>25.08.2021</td>
          <td>Елисеева К. В.</td>
          <td>Технолог</td>
          <td>Без происшествий</td>
          <td>30.08.2021</td>
        </tr>
        <tr>
          <td>01.06.2021</td>
          <td>Васильев П. З.</td>
          <td>Оператор</td>
          <td>Замечено нарушение</td>
          <td>25.06.2021</td>
        </tr>
        <tr>
          <td>12.12.2020</td>
          <td>Иванов К. В.</td>
          <td>Инженер</td>
          <td>Без происшествий</td>
          <td>21.12.2020</td>
        </tr>
      </table>
    </div>
  </div>
</div>
