<div class="content">
  <div class="main-info">
    <div class="main-info__employee">
      <div class="main-info__employee__who">
        <img
          class="main-info__employee__who__avatar"
          src="assets/example_avatar.png"
        />
        <div class="main-info__employee__who__info">
          <div class="main-info__employee__who__info__name">
            Иван Егорович Сергеев
          </div>
          <div class="main-info__employee__who__info__job">
            Технолог КВР-342
          </div>
        </div>
      </div>
      <button class="main-info__employee__shift-in-button">
        Заступить на смену
      </button>
    </div>
    <div class="main-info__card-controls">
      <div class="main-info__card-controls__switch-button">
        <input
          class="main-info__card-controls__switch-button__checkbox"
          type="checkbox"
        />
        <label class="main-info__card-controls__switch-button__label">
          <span class="main-info__card-controls__switch-button__label__span"
            >Сегодня</span
          ></label
        >
      </div>
      <button class="main-info__card-controls__calendar-button">
        <img src="assets/svg/calendar1.svg" alt="" />
      </button>
    </div>
    <div class="main-info__cards">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
  </div>
  <div class="analytics">
    <div class="analytics__workspace"></div>
    <div class="analytics__shift-log"></div>
  </div>
</div>
