<nav class="sidebar">
  <div class="sidebar__users">
    <img
      src="assets/example_avatar.png"
      class="sidebar__users__user__img current-user"
      alt=""
    />
    <img
      src="assets/example_avatar.png"
      class="sidebar__users__user__img"
      alt=""
    />
    <img
      src="assets/example_avatar.png"
      class="sidebar__users__user__img"
      alt=""
    />
    <img
      src="assets/example_avatar.png"
      class="sidebar__users__user__img"
      alt=""
    />
    <img
      src="assets/example_avatar.png"
      class="sidebar__users__user__img"
      alt=""
    />
  </div>
  <div class="sidebar__help">
    <img src="assets/svg/help.svg" class="sidebar__help__icon" alt="" />
  </div>
</nav>
