@import "../../../vars.scss";

.card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: $bg-main;
  row-gap: 25px;
  border-radius: 4px;
}

.card__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__main__title {
  color: $typo-primary;
  font-size: 16px;
  font-weight: $typo-primary-weight;
}

.card__main__circle-progress {
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: conic-gradient($bg-success 180deg, $bg-secondary 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__main__circle-progress::before {
  content: "";
  position: absolute;
  height: 49px;
  width: 49px;
  border-radius: 50%;
  background-color: $bg-main;
}

.progress-value {
  position: relative;
  font-weight: 600;
}

.card__updated {
  font-weight: 400;
  color: $typo-secondary;
}
