$bg-main: #22272b;
$bg-secondary: #161a1d;
$bg-border: #ffffff33;

$typo-primary: #fafafa;
$typo-primary-size: 24px;
$typo-primary-weight: 600;

$typo-secondary: #ffffff99;
$typo-secondary-size: 16px;
$typo-secondary-weight: 500;

$bg-success: #24c38e;
$bg-caution: #f2c94c;
$bg-warning: #f38b01;
$bg-alert: #f73b3b;

$bg-link: #0078d2;

$control-primary-bg: #0078d2;
$control-primary-typo: #ffffff;

$control-ghost-bg: #fafafa29;
$control-ghost-typo: #ffffffbf;

$control-clear-typo: #ffffffbf;
