@import "../../../vars.scss";

.lab-card {
  display: flex;
  flex-direction: column;
  height: 415px;
  border-radius: 4px;
  border: 1px solid $bg-border;
}

.lab-card__head {
  padding: {
    top: 20px;
    left: 20px;
    right: 20px;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lab-card__head__title {
  color: $typo-primary;
  font-size: $typo-secondary-size;
  font-weight: $typo-primary-weight;
}

.drag-button {
  background-color: $control-ghost-bg;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 4px;
}

.lab-card__service {
  padding: {
    left: 20px;
    right: 20px;
  }
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $bg-border;
  padding-bottom: 15px;
}

.more-button {
  padding: {
    left: 20px;
    right: 20px;
  }
  font-weight: 400;
  font-size: 12px;
  color: $control-primary-typo;
  background-color: $control-primary-bg;
  border: none;
  border-radius: 99px 99px 99px 99px;
}

.lab-card__chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: {
    top: 30px;
    bottom: 30px;
    left: 20px;
    right: 20px;
  }
}

.chart {
  border: {
    top: 1px solid $bg-border;
    left: 1px solid $bg-border;
    right: 1px solid $bg-border;
  }
}

.chart-legend {
  color: $typo-secondary;
  font-size: 12px;
  font-weight: 400;
}
