<div class="lab-card" cdkDrag>
  <div class="lab-card__head">
    <h3 class="lab-card__head__title">Данные лаб. анализов</h3>
    <button class="drag-button" cdkDragHandle>
      <img src="assets/svg/draggable.svg" alt="" />
    </button>
  </div>
  <div class="lab-card__service">
    <button class="more-button">Подробнее</button>
  </div>
  <div class="lab-card__chart">
    <div class="chart">
      <canvas id="Lab">{{ chart }}</canvas>
    </div>
    <p class="chart-legend">Месяц</p>
  </div>
</div>
